.project_section {
    background-image: url('https://images.pexels.com/photos/1303092/pexels-photo-1303092.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

.background_pic {
    background-image: url("https://images.pexels.com/photos/1569012/pexels-photo-1569012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_title_div {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 5px black;
    width: 25rem;
    height: 5rem;
    background-color: rgb(255, 255, 255, 0.7);
}

.project_text {
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 1.5rem 0rem;
}

.item {
    position: relative;
    height: 19rem;
    overflow-y: hidden;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 1.5rem;
}

    
.item__overlay > h3 {
    margin: 0;
    display: block;
    background-color: turquoise;
    padding: 1.1rem;
    text-align: left;
}

.project__image {
width: 500px;
height: 325px;
display: block;
object-fit: cover;
background-size: cover;
}

.project__image > img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
.item__overlay {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
position: absolute;
width: 100%;
top: 0;
transition: transform 300ms;
background-color: rgb(151, 240, 231);
transform: translate3d(0, calc(100% - 3.5rem), 0);
}

.item__overlay:hover {
    transform: translate3d(0, 0, 0);
}

.item__body {
flex-grow: 1;
padding: 1rem;
}

.item_body > p {
margin: 0;
}