.navbar {
  height: 9vh;
  width: 100vw;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mylinks {
  color: ghostwhite;
  margin-right: 6rem;
  width: 24rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.navlogo {
  margin-left: 3rem;
  color: ghostwhite;
  font-size: 1.5rem;
}

.navlogo:hover {
  color: rgb(228, 92, 92);
  cursor: pointer;
}

.navlinks {
  margin: 0rem 1rem;
}

.navlinks:hover {
  color: rgb(228, 92, 92);
  cursor: pointer;
}
